body {
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 80px;
	background-color: lightblue;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

#logo {
	display: block;
	width: 50px;
	float: left;
	margin-left: 30px;
}

.button {
	font-family: 'Raleway';
	border: 0px;
	color: white;
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border-radius: 1px;
	opacity: .7;
	font-size: 16px;
	position: relative;
	float: right;
}

.button:hover {
	background: white;
	color: lightblue;
	opacity: .7;
}

.navigation {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.container {
	display: inline-block;
	width: 100%; 
}

.box {
	background-color: lightblue;
	width: 500px;
	height: 350px;
	border-radius: 2px;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'raleway';
	display: block;
}

#text {
	color: white;
	text-align: center;
	padding: 10px;
}

.info input[type=text] {
	width: 400px;
	height: 20px;
	margin: 5px;
	border: 0px;
	font-family: 'raleway';
	color: lightblue;
	font-size: 16px;
	line-height: 20px;
}

.inqury input[type=text] {
	width: 400px;
	height: 100px;
	margin: 5px;
	border: 0px;
	font-family: 'raleway';
	color: lightblue;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.submit {
	font-family: 'Raleway';
	border: 0px;
	color: lightblue;
	background-color: white;
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border-radius: 1px;
	opacity: .7;
	font-size: 16px;
	margin: 10px;
}

.submit:hover {
	background: lightcoral;
	color: white;
	opacity: .7;
}